* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

h1 {
  text-align: center;
}

textarea {
  font-size: 1rem;
}

section {
  form {
    display: flex;
    justify-content: center;
    align-items: center;

    #buttons {
      display: flex;
      flex-direction: column;

      button {
        margin: 25px;
        padding: 5px;
      }
    }
  }
  #timer {
    height: 50px;
  }
}

#titanic * {
}

#titanic {
  * {
    border: 1px solid black;
  }

//   display: flex;
//   justify-content: center;

  div {
    // width: 75vw;
    height: 100px;

    img {
      height: 100px;
      right: 0;
    }

    #titanic-ship {
      position: relative;
      left: 150px;
    }

    #cargo-ship {
      position: absolute;
      right: 150px;
    }
  }
}
